[submodule "RL_Clustering"]
	path = RL_Clustering
	url = https://github.com/valeryefimova/MultiClustering
[submodule "Incremental_CVI"]
	path = Incremental_CVI
	url = https://github.com/AntipovDen/EvoClusterization
[submodule "Evo_Clustering"]
	path = Evo_Clustering
	url = https://github.com/dimatomp/EvolutionaryClustering
